{% extends "habit_tracker/base.html" %}

{% block content %}
  <h2>All Completed Habits</h2>

  <h3>Completed Habits (Done)</h3>
  <table border="1">
    <thead>
      <tr>
        <th>Name</th>
        <th>Period</th>
        <th>Start Date</th>
        <th>End Date</th>
      </tr>
    </thead>
    <tbody>
      {% for habit in completed_habits_done %}
      <tr>
        <td>{{ habit.name }}</td>
        <td>{{ habit.period }}</td>
        <td>{{ habit.start_date }}</td>
        <td>{{ habit.end_date }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="4">You have no completed habits that were done.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h3>Completed Habits (Time Ended)</h3>
  <table border="1">
    <thead>
      <tr>
        <th>Name</th>
        <th>Period</th>
        <th>Start Date</th>
        <th>End Date</th>
      </tr>
    </thead>
    <tbody>
      {% for habit in completed_habits_time_ended %}
      <tr>
        <td>{{ habit.name }}</td>
        <td>{{ habit.period }}</td>
        <td>{{ habit.start_date }}</td>
        <td>{{ habit.end_date }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="4">You have no completed habits where time ended.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="button-container">
    <a href="{% url 'show_streaks' %}" class="btn">Show Streaks</a>
  </div>  
{% endblock %}
