{% extends "habit_tracker/base.html" %}

{% block content %}
  <h2>Habit list</h2>

  {% if messages %}
  <!-- Message Modal -->
  <div id="messageModal" class="modal">
    <div class="modal-content">
      <span class="close-button">&times;</span>
      {% for message in messages %}
      <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
      {% endfor %}
    </div>
  </div>
  {% endif %}

  <table border="1">
    <thead>
        <tr>
            <th>Name</th>
            <th>Period</th>
            <th>Done</th>
        </tr>
    </thead>
    <tbody>
        {% for habit in habits %}
        <tr>
            <td><a href="{% url 'edit_habit' habit.id %}" class="edit-link">{{ habit.name }}</a></td>
            <td>{{ habit.period }}</td>
            <td>
              <a href="{% url 'toggle_habit_done' habit.id %}" class="checkbox">
                {% if habit.id in done_habits %}
                &#10003; <!-- This is a check mark -->
                {% else %}
                &#9744; <!-- This is an empty square -->
                {% endif %}
              </a>
            </td>                    
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">You have no habits scheduled for today.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

  <!-- Link to the create_habit view -->
  <div>
      <a href="{% url 'create_habit' %}" class="btn">Create a new habit</a>
  </div>
{% endblock %}
