# .gitignore

# Ignore migrations
**/migrations/
!**/migrations/__init__.py

# Ignore all bytecode
**/__pycache__/

# Ignore the SQLite database file
db.sqlite3

# Ignore any .pyc files
*.pyc

# Ignore any .pyo files
*.pyo

# Ignore any .pyd files
*.pyd

# Ignore all log files
*.log

# Ignore all local settings
myproject/settings_local.py

# Ignore virtual environment
venv/
